<main class="p-4 rounded-lg d-flex h-100 align-items-center">
  <div class="gap">
    <p class="fs-5">Teste de tela</p>
    <p class="fs-1">Testando algumas funções</p>
    <p>Posso dizer que este site de testes, testa bastante coisa</p>
    <span class="gap-3 d-flex my-4"
      ><i class="fa-brands fa-github fa-2xl"></i
      ><i class="fa-brands fa-js fa-2xl"></i>
      <i class="fa-brands fa-html5 fa-2xl"></i>
      <i class="fa-brands fa-css3-alt fa-2xl"></i
    ></span>
    <button class="btn btn-primary mt-4">Iniciar</button>
  </div>
</main>
