/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "scss/mixins";
@import "scss/variables";

html,
body {
  width: 100%;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.btn {
  border: 0;
  padding-inline: 2rem;
  font-weight: 600;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:active,
.btn-primary:target {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.nav-pills .nav-link.active {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.nav-pills .nav-link {
  color: var(--text-color);
}

.nav-pills .nav-link:hover {
  animation: navHover 0.3s ease-in-out forwards;
}

h1 {
  color: var(--title-color);
}

p,
span,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

.form-label {
  color: var(--text-color);
}

.form-control {
  background-color: var(--elements-color);
  color: var(--text-color);
  border: 0;
}

.form-control.focus {
  background-color: var(--elements-color);
  color: var(--text-color);
  border: 0;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-gradient-primary {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
}

@keyframes navHover {
  from {
  }
  to {
    background-color: #fff;
    color: var(--primary-color);
  }
}
