/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "scss/mixins";
@import "scss/variables";

.nav-pills .nav-link.active {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.nav-pills .nav-link {
  color: var(--text-color);
}

.nav-pills .nav-link:hover {
  animation: navHover 0.3s ease-in-out forwards;
}

@keyframes navHover {
  from {
  }
  to {
    background-color: var(--text-color);
    color: var(--primary-color);
  }
}
